.DS_Store
Recognized/.DS_Store

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
Recognized/Recognized.xcodeproj/project.xcworkspace/
*.xcuserstate


# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
Recognized/*.pbxuser
!default.pbxuser
Recognized/*.mode1v3
!default.mode1v3
Recognized/*.mode2v3
!default.mode2v3
Recognized/*.perspectivev3
!default.perspectivev3
Recognized/xcuserdata/

## Other
Recognized/*.moved-aside
Recognized/*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output


# Logs
apiRecognized/logs
apiRecognized/*.log
apiRecognized/npm-debug.log*

# Runtime data
apiRecognized/pids
apiRecognized/*.pid
apiRecognized/*.seed

# Directory for instrumented libs generated by jscoverage/JSCover
apiRecognized/lib-cov

# Coverage directory used by tools like istanbul
apiRecognized/coverage

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
apiRecognized/.grunt

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
apiRecognized/build/Release

# Dependency directories
apiRecognized/node_modules
apiRecognized/jspm_packages

# Optional npm cache directory
apiRecognized/.npm

# Optional REPL history
apiRecognized/.node_repl_history